{% if product.handle == 'the-old-english-necklace-3' %}
          
           <div class="bold_options bold_options_loaded" data-product-id="4755869302846">
          <div class="bold_option_set">
			<div class="bold_option bold_option_textbox ">
			<label>
				<span class="bold_option_title">
					NAME*
					<span class="tb_1010768_414262_max_size" style="margin-left: 10px;">10 | 12</span>
				</span> 
		
				<span class="bold_option_element"><input name="properties[NAME]" class="tb_1010768_414262" type="text" maxlength="12"></span>
			</label> 
              <span class="bold_help_text"><small>Maximum letters: 12</small></span>
			</div></div></div>   
          
          
          <div class="preview">
            <strong>Preview</strong>
          	<h1>&nbsp;</h1>
            <span>*This is only a Preview*</span>
          </div>
          
	 		<script type="text/javascript"> 
              $(".bold_option_element input.tb_1010768_414262").keyup(function(){ 
                  var inputData = $(this).val();
                  $(".preview h1").text(inputData);
                console.log(inputData);
              }); 

          </script>	
          
          <style>  
            .preview h1{font-family:OLDENGL;}
          </style>
{% endif %}
		 


{% if product.handle == 'the-script-necklace' %}
          
           <div class="bold_options bold_options_loaded" data-product-id="4755869794366">
          	<div class="bold_option_set">
				<div class="bold_option bold_option_textbox ">
			<label>
			<span class="bold_option_title">
				NAME*
				<span class="tb_1010768_414262_max_size" style="margin-left: 10px;"></span>
			</span> 
		
			<span class="bold_option_element"><input name="properties[NAME]" class="tb_1010768_414262" type="text" maxlength="12"></span>
			</label> 
			<span class="bold_help_text"><small>Maximum letters: 12</small></span>
				</div></div></div>
          
          
          <div class="preview">
            <strong>Preview</strong>
          	<h1>&nbsp;</h1>
            <span>*This is only a Preview*</span>
          </div>
          
	 		<script type="text/javascript"> 
              $(".bold_option_element input.tb_1010768_414262").keyup(function(){ 
                  var inputData = $(this).val();
                  $(".preview h1").text(inputData);
                console.log(inputData);
              }); 

          </script>	
          
          <style>  
            .preview h1{font-family:SnellRoundhand-BoldScript;}
          </style>
{% endif %}
		 



{% if product.handle == 'the-trippy-anklet' %}
          
           <div class="bold_options bold_options_loaded" data-product-id="4755885129790">
          <div class="bold_option_set">
        <div class="bold_option bold_option_textbox ">
            <label>
                    <span class="bold_option_title">
                        Name*
                        <span class="tb_1138328_460290_max_size" style="margin-left: 10px;"></span>
                    </span> 

                    <span class="bold_option_element"><input name="properties[Name]" class="tb_1138328_460290" type="text" maxlength="12"></span>
            </label> 

            <span class="bold_help_text"><small>Up to 12 characters (case-sensitive)</small></span>
        </div></div></div>
          
          
          <div class="preview">
            <strong>Preview</strong>
          	<h1>&nbsp;</h1>
            <span>*This is only a Preview*</span>
          </div>
          
	 		<script type="text/javascript"> 
              $(".bold_option_element input.tb_1138328_460290").keyup(function(){ 
                  var inputData = $(this).val();
                  $(".preview h1").text(inputData);
                console.log(inputData);
              }); 

          </script>	
          
          <style>  
            .preview h1{font-family:cooper-black-bt;}
          </style>
{% endif %}



{% if product.handle == 'varsity-drop-name-necklace' %}
          
           <div class="bold_options bold_options_loaded" data-product-id="6550715891774">
          <div class="bold_option_set">
            <div class="bold_option bold_option_textbox ">
                <label>
                        <span class="bold_option_title">
                            Enter Custom Text*
                            <span class="tb_1464354_581355_max_size" style="margin-left: 10px;"></span>
                        </span> 

                        <span class="bold_option_element"><input name="properties[Enter Custom Text]" class="tb_1464354_581355" type="text" maxlength="8"></span>
                </label> 
                <span class="bold_help_text"><small>Enter up to 8 letters</small></span>
            </div></div></div>
          
          
          <div class="preview">
            <strong>Preview</strong>
          	<h1>&nbsp;</h1>
            <span>*This is only a Preview*</span>
          </div>
          
	 		<script type="text/javascript"> 
              $(".bold_option_element input.tb_1464354_581355").keyup(function(){ 
                  var inputData = $(this).val();
                  $(".preview h1").text(inputData);
                console.log(inputData);
              }); 

          </script>	
          
          <style>  
            .preview h1{font-family:varsity_regular;}
          </style>
{% endif %}
